.mainContainer {
    min-height: 1020px;
}

.heading {
    color: #165079;
    margin-bottom: 60px;
    margin: 70px 0 100px;
    font-size: 55px;
}

.excelData {
    margin-top: 80px;
}

.fileName {
    color: rgb(18, 123, 192);
}