.mainContainer {
    min-height: 800px;
}

.content {
    color: #165079;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #165079;
    margin-bottom: 60px;
    margin: 70px 0 100px;
    font-size: 55px;
}