.table-data {
    padding: 10px;
    margin-top: 60px;
    min-height: 900px;
}

.title {
    color: #5e85a5;
}

.link {
    font-weight: bold;
    cursor: pointer;
    float: right;
    color:#165079
}

.main-heading {
    background-color: rgb(136, 138, 138);
    color: white;
}

.heading {
    background-color: rgb(196, 223, 224);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid rgb(142, 142, 245);
}

.table-bordered{
    border: 5px solid #165079!important;
}