.content {
    padding: 10px;
    min-height: 800px;
}

.button {
    width: 300px;
    border: 2px solid gray !important;
    color : #165079 !important;
    font-weight: 400;
}

.active {
    background-color: #056fcc !important;
    color: rgb(248, 201, 201) !important;
}

.table-bordered{
    border: 5px solid #165079
}