.content {
    border: 3px groove #a7a9aa;
    padding: 10px;
}

.button {
    width: 300px;
    border: 2px solid gray !important;
    color : #165079 !important;
    font-weight: 400;
}

.active {
    background-color: #056fcc !important;
    color: white !important;
}