.logo {
    width: 50%;
}

li {
    font-size: 18px;
}

nav {
    background-color: #165079 !important;
}

.img-link {
    width: 50px;
    transform: scale(5);
    margin-left: 36px;
    margin-top: -22px;
}