.heading {
    color: #165079;
    margin-bottom: 60px;
    margin: 70px 0 100px;
    font-size: 55px;
}

.mainContainer {
    max-width: 90%;
    margin: auto;
    min-height: 800px;
}

.link {
    color: #165079;
}

.link:hover {
    color: black;
    text-decoration: none;
}

.trackTable {
    margin: 70px 0 150px;
}